@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
    height: 100%;
    background: rgb(62,10,92);
    background: linear-gradient(45deg, rgba(62,10,92,1) 0%, rgba(149,7,199,1) 30%, rgba(140,4,207,1) 55%, rgba(162,0,255,1) 86%, rgba(188,0,255,1) 100%);
}
